html, body { 
  margin: 0; 
  padding: 0; 
  height: 100%;
  background: #F2F7F9;
}
body, input, textarea, select {
  color:#000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 140%;
}

h1,h2,h3 {
  font-family: "Roboto Slab";
  color:#63899C;
}

h1 { font-size: 200%; line-height:140%; font-weight: 700; margin: 0; }
h2 { font-size: 190%; line-height:100%; font-weight: bold; margin: 30px 0 10px 0; }
h3 { font-size: 140%; line-height:100%; font-weight: normal; margin: 0; }
h4,h5,h6 { font-size: 115%; line-height:140%; font-weight: bold; margin: 0; }

p { margin: 0 0 12px 0; }
a { color:#BA5134; cursor:pointer; text-decoration: none; outline: none; }
a:hover { text-decoration: none; outline: none; color:#9B422E;}
img { border: 0; outline: none; }
ul {
  margin:0;
  padding:0;
  list-style: none;
}
input, textarea {
  font:inherit;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:first-child {
  margin-top: 0;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}



.background {
  position: relative;
  min-height: 100%;
  background:no-repeat center center;
  background-attachment:fixed;
  background-size: cover;
  opacity: 1;
  z-index: 0;
  overflow: hidden;
}
.home {
  background-image: url(/gfx/backgrounds/home.jpg);
}
.about {
  background-image: url(/gfx/backgrounds/about.jpg);
}
.patientbesked {
  background-image: url(/gfx/backgrounds/patientbesked.jpg);
}
.minvardplan {
  background-image: url(/gfx/backgrounds/minvardplan.jpg);
}
.contact {
  background-image: url(/gfx/backgrounds/contact.jpg);
}

.topbar {
  z-index: 1;
  position:fixed;
  width: 100%;
  z-index: 1;
  height: 85px;
  transition:height 500ms;
}

.topbar .topbackground {
  background: #5b889d;
  height:100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  background: rgba(91,136,157,0.9);
}

.topbar .topitems {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.topbar .menu {
  margin:0 auto;
  display: table;
}
.topbar a.menuitem, 
.topbar a.logo {
  height:80px;
  line-height: 80px;
  transition:height 500ms, line-height 500ms, font-size 500ms;
}
.topbar a.logo {
  display: block;
  position: absolute;
  height:100%;
  width:10%;
  background:url(/gfx/logo_white.png) no-repeat 10px center;
  background-size: auto 80%;
}
.topbar a.menuitem {
  display:inline-block;
  color:#fff;
  padding: 0 20px;
  font-size: 160%;
  font-family: "Roboto Slab";
  font-weight: bold;
}
.topbar a.menuitem:hover {
  background: #5b889d;
}

.topbar.small .topbackground {
  background: #5b889d;
  opacity: 0.8;
}
.topbar.small {
  height:40px;
}
.topbar.small .topitems a {
  height: 40px;
  line-height: 40px; 
}
.topbar.small a.menuitem {
  font-size: 100%;
}


.bgcontent .title {
  font-family: "Roboto Slab";
  background:#5b889d;
  font-size: 200%;
  color:#fff;
  font-weight: bold;
  padding:20px 0;
  text-align: center;
}

.bgcontent {
  background:rgba(255, 255, 255, 0.90);
  background-size: 50px auto;
  position: relative;
  width:96%;
  margin:0 auto;
  max-width: 1200px;
  margin:80px auto;
}
.bgcontent .inner {
  padding:4%;
  margin:0 auto;
  position: relative;
}
.bgcontent .inner .left {
  float: left;
  width: 74%;
}
.bgcontent .inner .right {
  float: right;
  width: 18%;
}
.bgcontent .inner .right h3 {
  margin-bottom: 20px;
  text-align: center;
}

.bgcontent img.screenshot {
  max-width: 80%;
}

.extlink {
  font-size: 120%;
  font-weight: bold;
}

.home .bgcontent {
  margin-top: 160px;
}
.home .bgcontent .inner {
  max-width: 770px;
}
.home .logo {
  height: 250px;
  text-align: center;
}
.home .logo img {
  height: 100%;
}
.home .intro {
  font-family: "Roboto Slab";
  color:#B05039;
  font-size: 200%;
  line-height: 150%;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.highlight {
  font-weight: bold;
  font-size: 110%;
}

.imglink {
  display: block;
  width:100%;
  margin-bottom: 20px;
  text-align: center;
}
.imglink .image {
  max-height: 100px;
  overflow: hidden;
  border:solid 2px #B05039;
}
.imglink img {
  width: 100%;
}
.screenshot {
  display: none;
}
.screenshot .header {
  font-family: "Roboto Slab";
  color:#63899C;
  font-size: 170%;
  float: left;
}
.screenshot .backlink {
  display: block;
  float: right;
  width:30px;
  height:30px;
  background:url(/gfx/arrowup.svg) no-repeat center center;
  background-size: 100% auto;
}
.screenshot img {
  margin-top:20px;
  width: 100%;
  border:solid 2px #44758C;
}

.scroller.back {
  background: url(/gfx/arrowup.svg) no-repeat left center;
  background-size: auto 100%;
  display: inline-block;
  padding-left: 30px;
}

.contact h3 {
  margin-bottom: 40px;
  text-align: center;
}

.person {
  float:left;
  width:33.33333%;
  text-align: center;
}
.person img {
  width: 70%;
}
.person .name {
  font-weight: bold;
  font-size: 120%;
}

.footer {
  font-family: "Roboto Slab";
  font-size: 120%;
  color:#fff;
  padding:20px;
  background:#5b889d url(/gfx/logo_white.png) no-repeat 10px center;
  background-size: auto 70%;
  text-align: center;
}
