<!DOCTYPE html>

<html>
  <head>
    <title>Postdoc AB</title>
    <meta http-equiv='content-type' content='text/html; charset=utf-8;' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />    
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Postdoc">
    <meta name="application-name" content="Postdoc">
    <meta name="theme-color" content="#ffffff">

    <link rel="shortcut icon" href="/gfx/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/gfx/favicon.ico" type="image/x-icon">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="css/start.css" />

    <script src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/nodebase/js/tools/q.js"></script>
    <script type="text/javascript" src="/nodebase/js/tools/ajax.js"></script>
    <script src="/js/start.js"></script>
  </head>
  <body>
    <div class='topbar'>
      <div class='topbackground'></div>
      <div class='topitems'>
        <a class='logo scroller' data-id='home'></a>
        {% if language == "en" %}
          <div class='menu'>
            <a class='menuitem scroller' data-id='about'>What we do</a>
            <a class='menuitem scroller' data-id='patientbesked'>Patientbesked</a>
            <a class='menuitem scroller' data-id='minvardplan'>Min vårdplan</a>
            <a class='menuitem scroller' data-id='contact'>Who we are</a>
            <a class='language menuitem' data-language='sv'>Svenska</a>
          </div>
          <div class='hamburgermenu'>
            <a class='hamburger'></a>
            <div class='hamburgeritems'>
              <a class='menuitem scroller' data-id='about'>What we do</a>
              <a class='menuitem scroller' data-id='patientbesked'>Patientbesked</a>
              <a class='menuitem scroller' data-id='minvardplan'>Min vårdplan</a>
              <a class='menuitem scroller' data-id='contact'>Who we are</a>
              <a class='language menuitem' data-language='sv'>Svenska</a>
            </div>
          </div>
        {% else %}
          <div class='menu'>
            <a class='menuitem scroller' data-id='about'>Vad vi gör</a>
            <a class='menuitem scroller' data-id='patientbesked'>Patientbesked</a>
            <a class='menuitem scroller' data-id='minvardplan'>Min vårdplan</a>
            <a class='menuitem scroller' data-id='contact'>Vem vi är</a>
            <a class='language menuitem' data-language='en'>English</a>
          </div>
          <div class='hamburgermenu'>
            <a class='hamburger'></a>
            <div class='hamburgeritems'>
              <a class='menuitem scroller' data-id='about'>Vad vi gör</a>
              <a class='menuitem scroller' data-id='patientbesked'>Patientbesked</a>
              <a class='menuitem scroller' data-id='minvardplan'>Min vårdplan</a>
              <a class='menuitem scroller' data-id='contact'>Vem vi är</a>
              <a class='language menuitem' data-language='en'>English</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    <div class='background home'>
      <div class='bgcontent'><div class='inner'>
        <div class='logo'><img src="/gfx/postdoclogo.png" alt='Postdoc' /></div>
        {% if language == "en" %}
          <div class='intro'>Relevant and adapted information to patients<br /> &mdash; with minimum workload</a>.</div>
        {% else %}
          <div class='intro'>Relevant och anpassad information till patienter<br /> &mdash; med minimal arbetsinsats</a>.</div>
        {% endif %}
      </div></div>
    </div>
    <div class='background about'>
      <div class='bgcontent'>
        {% if language == "en" %}
          <div class='title'>What we do</div>
          <div class='inner'>
            <h2>The patient information challenge</h2>
            <p>After or during medical treatment, e.g. after surgery or during cancer treatment, patients get a lot of information about their treatment from their doctor and from other healthcare professionals. But most of this information is given <span class='highlight'>verbally</span> and is <span class='highlight'>hard to remember</span> for the patient when at home. If written information is provided, it is often either sparse or very general.</p>
            <p>It is crucial, and in some cases required by the authorities, that <span class='highlight'>written information</span> about the treatment is provided to the patient. But healthcare do not have the <span class='highlight'>time and resources</span> to produce relevant written information, adapted for the specific case.</p>
            <h2>Our solution</h2>
            <p>Our solution to this problem is our applications <a class='scroller' data-id='patientbesked'>Patientbesked</a> and <a class='scroller' data-id='minvardplan'>Min vårdplan</a>. Both applications are based on a <span class='highlight'>template engine</span> with interlinked information templates. The template information is created and maintained by medical expertise at each clinic.</p>
            <p>A healthcare professional, usually a nurse, can pick and choose among the templates and combine them into a <span class='highlight'>relevant</span> and reviewed <span class='highlight'>information</span>, <span class='highlight'>adapted</span> to the individual case. All in around with <span class='highlight'>30 seconds</span>.</p>
            <p>The patient receives a printed version of the information when leaving the hospital and can also access the latest version of the information online.</p>
            <p><a class='scroller' data-id='patientbesked'>Patientbesked</a> is used to provide information after institutional and non-institutional care, e.g. after surgery, while <a class='scroller' data-id='minvardplan'>Min vårdplan</a> is used to produce individual care plans during cancer treatment.</p>
          </div>
        {% else %}
          <div class='title'>Vad vi gör</div>
          <div class='inner'>
            <h2>Utmaningen med patientinformation</h2>
            <p>Efter eller under medicinsk behandling, t.ex. efter en operation eller i samband med cancerbehandling, får patienten mycket information från läkare och annan vårdpersonal. Men största delen av denna information ges <span class='highlight'>muntligen</span> och kan vara <span class='highlight'>svår att komma ihåg</span> då patienten kommit hem. Den skriftliga information som ges till patienten är ofta sparsam eller väldigt generell.</p>
            <p>Relevant och anpassad <span class='highlight'>skriftlig patientinformation</span> är av stort värde och att detta ges till patienten är också ett krav i vissa landsting och regioner. Men sjukvården har sällan <span class='highlight'>tid och resurser</span> att skapa relevant skriftlig information, anpassad för det specifika fallet.</p>
            <h2>Vår lösning</h2>
            <p>Vår lösning till detta problem är våra applikationer <a class='scroller' data-id='patientbesked'>Patientbesked</a> och <a class='scroller' data-id='minvardplan'>Min vårdplan</a>. Båda dessa applikationer baseras på en <span class='highlight'>mallfunktionaliet</span> med korslänkade informationsmallar. Mallinformationen skapas och underhålls av medicinsk expertis vid varje klinik.</p>
            <p>Vårdpersonal, vanligtvis en sjuksköterska, kan med några musklick välja bland mallinformationen och enkelt kombinera ihop en <span class='highlight'>relevant information</span>, anpassad till det specifika fallet. Allt inom loppet av runt <span class='highlight'>30 sekunder</span>.</p>
            <p>Patienten får en utskriven version av informationen i samband med utskrivning och kan också få åtkomst till den aktuella versionen av informationen online.</p>
            <p><a class='scroller' data-id='patientbesked'>Patientbesked</a> kan t.ex. användas för att ge patientinformation efter slutenvård eller polikliniska operationer, medan <a class='scroller' data-id='minvardplan'>Min vårdplan</a> används för att skapa individuella vårdplaner i samband med cancerbehandling.</p>
          </div>
        {% endif %}
      </div>
    </div>
    <div class='background patientbesked'>
      <div class='bgcontent'>
        <div class='title'>Patientbesked</div>
        <div class='inner'>
          <div class='clearfix'>
            <div class='left'>
              {% if language == "en" %}
                <p><a href='http://patientbesked.se' class='extlink' target='_blank'>patientbesked.se</a></p>
                <p>Patientbesked is used to generate <span class='highlight'>patient information</span> after institutional and non-institutional care.</p>
                <p>The application is based on a <span class='highlight'>template engine</span> and the basic information templates include medical information about the diagnosis and various contact information. 
                However, the template engine is very flexible and can be <span class='highlight'>customized</span> at each clinic. Information templates like self care, information about return visits etc. can be added and linked to the diagnosis information template.</p>
                <p>Each clinic has its own set of templates and the template information is created and maintained by medical expertise at each clinic.</p>
                <p>When creating a patient information, a nurse can pick and choose among the templates and combine them into a relevant information, adapted for the specific case, in around <span class='highlight'>30 seconds</span>.</p>
                <p>Patientbesked has been in use since 2012 at the following hospitals:<br>Länssjukhuset i Kalmar, Hallands sjukhus, Skånes universitetssjukhus, Blekingesjukhuset and Centrallasarettet Växjö.</p>
                <p>During 2016 almost <span class='highlight'>9000</span> patients were provided with information generated by Patientbesked.</p>
              {% else %}
                <p><a href='http://patientbesked.se' class='extlink' target='_blank'>patientbesked.se</a></p>
                <p>Patientbesked används för att ge patienter skriftlig information efter slutenvård eller polikliniska operationer</p>
                <p>Applikationen baseras på en <span class='highlight'>mallfunktionalitet</span> med informationsmallar och där den grundläggande informationen inkluderar diagnosinformation och olika kontaktinformation. Men mallfunktionaliteten är mycket flexibel och kan <span class='highlight'>anpassas</span> vid varje klinik. Informationsmallar med t.ex. information om egenvård, återbesök, sårskötsel etc. kan läggas till och kopplas till respektive diagnos.</p>
                <p>Varje klinik har sin egen mallinformation, vilken skapas och underhålls av medicinsk expertis vid kliniken.</p>
                <p>En information skapas på runt <span class='highlight'>30 sekunder</span> genom att kombinera ihop mallinformationer till en relevant information, anpassad för det specifika fallet.</p>
                <p>Patientbesked har använts sedan 2012 vid följande sjukhus:<br>Länssjukhuset i Kalmar, Hallands sjukhus, Skånes universitetssjukhus, Blekingesjukhuset och Centrallasarettet Växjö.</p>
                <p>Under 2016 erhöll nära <span class='highlight'>9000</span> patienter information skapad med Patientbesked.</p>
              {% endif %}
            </div>  
            <div class='right'>
              {% if language == "en" %}
                <a class='imglink' data-target='.pbscreenshot'><div class='header'>Creating information</div><div class='image'><img src='/gfx/screenshots/pb1.jpg' /></div></a>
                <a class='imglink' data-target='.pbscreenshot'><div class='header'>Generated information</div><div class='image'><img src='/gfx/screenshots/pb2.jpg' /></div></a>
                <a class='imglink' data-target='.pbscreenshot'><div class='header'>Editing templates</div><div class='image'><img src='/gfx/screenshots/pb3.jpg' /></div></a>
              {% else %}
                <a class='imglink' data-target='.pbscreenshot'><div class='header'>Skapa information</div><div class='image'><img src='/gfx/screenshots/pb1.jpg' /></div></a>
                <a class='imglink' data-target='.pbscreenshot'><div class='header'>Skapad information</div><div class='image'><img src='/gfx/screenshots/pb2.jpg' /></div></a>
                <a class='imglink' data-target='.pbscreenshot'><div class='header'>Redigera mallinformation</div><div class='image'><img src='/gfx/screenshots/pb3.jpg' /></div></a>
              {% endif %}
            </div>
          </div>
          <div class='screenshot pbscreenshot'>
            <div class='clearfix'>
              <div class='header'></div>
              <a class='backlink'></a>
            </div>
            <div class='image'><img src='' /></div>
          </div>
        </div>
      </div>
    </div>
    <div class='background minvardplan'>
      <div class='bgcontent'>
        <div class='title'>Min vårdplan</div>
        <div class='inner'>
          <div class='clearfix'>
            <div class='left'>
              <p><a href='http://minvardplan.se' class='extlink' target='_blank'>minvardplan.se</a></p>
              {% if language == "en" %}
                <p>Min vårdplan is used to create <span class='highlight'>individual care plans</span> for patients undergoing cancer treatment. Care plans can be generated both for the investigation phase and the treatment phase, and the contents of the created care plans follow the guidelines given by SKL and RCC.</p>
                <p>The application is based on the <span class='highlight'>template engine</span> developed for <a class='scroller' data-id='patientbesked'>Patientbesked</a>, and medical expertise at each clinic create and maintain the template information. The information includes <span class='highlight'>medical information</span>, various contact information and a <span class='highlight'>timeline</span> for the planned treatment.</p>
                <p>The created care plans are living documents and can be updated at any time when the conditions change. Patients can access their care plans online and also update certain areas concerning their health status. This provides healthcare with important information about the patient's health condition.</p>
                <p>Since mid January 2017 a pilot project is running at Blekingesjukhuset, where Min vårdplan is used to create care plans for cancer patients. Initially all colorectal cancer patients at the hospital will be included in the pilot project. This will subsequently be extended to other cancer diagnoses.</p>
              {% else %}
                <p>Min vårdplan används för att skapa <span class='highlight'>individuella vårdplaner</span> till patienter som genomgår cancerbehandling. Vårdplaner kan skapas för utredningsfasen och behandlingsfasen och innehållet i vårdplanerna följer riktlinjerna som givits av SKL och RCC.</p>
                <p>Applikationen baseras på den <span class='highlight'>mallfunktionalitet</span> som utvecklats för <a class='scroller' data-id='patientbesked'>Patientbesked</a> och medicinsk expertis vid varje klinkik skapar och underhåller mallinformationen. Informationen inkluderar bl.a. <span class='highlight'>medicinsk information</span>, olika kontaktinformation samt en <span class='highlight'>tidslinje</span> för den planerade behandlingen.</p>
                <p>De skapade vårdplanerna är levande dokument och kan uppdateras när omständigheterna förändras. Patienten kan ta del av den akutuella versionen av sin vårdplan online och också uppdatera de delear av innehållet som rör deras egen situation. Detta förser sjukvården med viktig information om patientens hälsosituation.</p>
                <p>Min vårdplan används för närvarande i ett pilotprojet vid Blekingesjukhuset. Initialt får alla kolorektalcancerpatienter vid sjukhuset vårdplaner genererade via Min vårdplan. Detta kommer efterhand att utökas även till andra cancerdiagnoser.</p>
              {% endif %}
            </div>  
            <div class='right'>
              {% if language == "en" %}
                <a class='imglink' data-target='.vpscreenshot'><div class='header'>Opened care plan</div><div class='image'><img src='/gfx/screenshots/vp1.jpg' /></div></a>
                <a class='imglink' data-target='.vpscreenshot'><div class='header'>Timeline</div><div class='image'><img src='/gfx/screenshots/vp2.jpg' /></div></a>
                <a class='imglink' data-target='.vpscreenshot'><div class='header'>Edit templates</div><div class='image'><img src='/gfx/screenshots/vp3.jpg' /></div></a>
              {% else %}
                <a class='imglink' data-target='.vpscreenshot'><div class='header'>Öppnad vårdplan</div><div class='image'><img src='/gfx/screenshots/vp1.jpg' /></div></a>
                <a class='imglink' data-target='.vpscreenshot'><div class='header'>Tidslinje</div><div class='image'><img src='/gfx/screenshots/vp2.jpg' /></div></a>
                <a class='imglink' data-target='.vpscreenshot'><div class='header'>Redigera mallar</div><div class='image'><img src='/gfx/screenshots/vp3.jpg' /></div></a>
              {% endif %}
            </div>
          </div>
          <div class='screenshot vpscreenshot'>
            <div class='clearfix'>
              <div class='header'></div>
              <a class='backlink'></a>
            </div>
            <div class='image'><img src='' /></div>
          </div>
        </div>
      </div>
    </div>
    <div class='background contact'>
      <div class='bgcontent'>
        {% if language == "en" %}
          <div class='title'>Who we are</div>
        {% else %}
          <div class='title'>Vem vi är</div>
        {% endif %}
        <div class='inner'>
          {% if language == "en" %}
            <h3>Please contact us for more information or for a demonstration of our applications.</h3>
          {% else %}
            <h3>Kontakta oss för mer information eller för en demonstration av våra applikationer..</h3>
          {% endif %}
          <div class='clearfix'>
            <div class='magnus person'>
              <img src="/gfx/Magnus.png" />
              <p><span class='name'>Magnus Ehlde</span><br />Ph.D.</p>
              <p><a href='mailto:magnus@postdoc.nu'>magnus@postdoc.nu</a><br />+46 709398004</p>
            </div>
            <div class='logo person'>
              <img src="/gfx/postdoclogo.png" />
            </div>
            <div class='claes person'>
              <img src="/gfx/Claes.png" />
              <p><span class='name'>Claes Hjalmarsson</span><br />M.D. - Ph.D.</p>
              <p><a href='mailto:claes@postdoc.nu'>claes@postdoc.nu</a><br />+46 725853851</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='footer'>
      <p>&copy; Postdoc AB</p>
      <p>Målarevägen 29, 227 30 Lund</p>
      <p><a href='mailto:info@postdoc.nu'>info@postdoc.nu</a> | +46 709398004</p>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90846088-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
